* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 80%;
    box-shadow: 12px 8px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 8px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 8px 27px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-right img {
    width: 350px;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card-left > h1 {
    margin-top: 14px;
    font-size: 24px;
}

.card-left > p {
    color: rgb(109, 106, 106);
}

.card-left > span {
    font-weight: 400;
}